@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-family: 'Rubik Iso', cursive;
    float: left;
    font-size: 300%;
}